<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
	<!-- Fragment spécifique à cette page -->
	<section layout:fragment="content">
        <div class="container my-2">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Gestion des utilisateurs</h2>
				<div class="d-flex align-items-center">
											   
	                <a th:href="@{/utilisateurs/create}" class="btn btn-primary">Nouveau</a>
				</div>
            </div>
			
			<hr style="border: 1px solid rgb(192, 192, 192);">
												
		<fieldset style="border: 1px solid #ccc; padding: 10px; border-radius: 10px;">
			
			<div class="row mb-3">
			    <div class="col-md-4">
			        <input type="text" id="searchInput"
			               class="form-control"
			               placeholder="Rechercher ..."
			               autocomplete="off">
			    </div>
			</div>
			
			<div id="utilisateursTable">
				
				<div id="loader" class="text-center my-3 d-none">
				    <div class="spinner-border text-primary"></div>
				    <div>Recherche en cours...</div>
				</div>
								
	            <table class="table">
	                <thead class="table-success">
	                <tr>
	                    <th>Matricule</th>
						<th>Identifiant</th>
	                    <th>Nom Prénom(s)</th>
						<th>Statut</th>
	                    <th>Action</th>
	                </tr>
	                </thead>
	                <tbody id="utilisateurTableBody">
	                <tr th:each="user : ${utilisateursPage.content}">
						<td class="text-truncate" style="max-width: 250px;" th:text="${user.matricule}"></td>
						<td class="text-truncate" style="max-width: 250px;" th:text="${user.username}"></td>
	                    <td class="text-truncate" style="max-width: 250px;" th:text="|${user.nom} ${user.prenoms}|"></td>
						<td>
						    <span th:if="${user.enabled}" class="badge bg-success">Actif</span>
						    <span th:if="${!user.enabled}" class="badge bg-danger">Inactif</span>
						</td>

	                    <td>
	                        <div class="d-flex justify-content-center">
	                            <div class="dropdown">
	                                <button class="btn" type="button" id="dropdownMenuButton"
	                                        data-bs-toggle="dropdown" aria-expanded="false">
	                                    <i class="bi bi-three-dots-vertical"></i>
	                                </button>
	                                <ul class="dropdown-menu">
	                                    <li>
	                                        <a class="dropdown-item" th:href="@{'/utilisateurs/edit/' + ${user.id}}">
	                                            <i class="bi bi-pencil me-2"></i>Modifier
	                                        </a>
	                                    </li>
										
										<li>
										    <a class="dropdown-item reinit-btn" th:href="@{'/utilisateurs/reinitialise/' + ${user.id}}">
										        <i class="bi bi-arrow-counterclockwise me-2"></i>Réinitialiser
										    </a>
										</li>
										
										<!-- Activer / Désactiver -->
									    <li th:if="${user.enabled}">
									        <a class="dropdown-item text-warning"
									           th:href="@{'/utilisateurs/desactiver/' + ${user.id}}">
									            <i class="bi bi-person-x me-2"></i>Désactiver
									        </a>
									    </li>

									    <li th:if="${!user.enabled}">
									        <a class="dropdown-item text-success"
									           th:href="@{'/utilisateurs/activer/' + ${user.id}}">
									            <i class="bi bi-person-check me-2"></i>Activer
									        </a>
									    </li>
										
	                                    <li>
	                                        <a class="dropdown-item del-btn" th:href="@{'/utilisateurs/delete/' + ${user.id}}">
	                                            <i class="bi bi-trash me-2"></i>Supprimer
	                                        </a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </td>
	                </tr>
	                <tr th:if="${#lists.isEmpty(utilisateursPage.content)}">
	                    <td colspan="4" class="text-center">Aucun utilisateur trouvé.</td>
	                </tr>
	                </tbody>
	            </table>     
			</div>
				
				<!-- Pagination -->
				<div class="d-flex justify-content-center mt-3">
				    <ul class="pagination" id="pagination"></ul>
				</div>

			</fieldset>
		</div>
		
		<!-- SweetAlert2 -->
	    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<script>
		document.addEventListener('DOMContentLoaded', function() {
		    // Sélectionner tous les boutons réinitialiser
		    document.querySelectorAll('.reinit-btn').forEach(btn => {
		        btn.addEventListener('click', function(e) {
		            e.preventDefault(); // empêcher le href="#"

		            const href = this.href;

		            Swal.fire({
		                title: 'Confirmation',
		                text: "Voulez-vous réinitialiser le mot de passe ?",
		                icon: 'warning',
		                showCancelButton: true,
		                confirmButtonText: 'Oui',
		                cancelButtonText: 'Non'
		            }).then((result) => {
		                if (result.isConfirmed) {
		                    // Redirection vers le controller
		                    window.location.href = href;
		                }
		            });
		        });
		    });
		});
		</script>

		<div th:if="${successMessage}" th:text="${successMessage}" id="successMessage" style="display:none;"></div>
		
		<script>
		document.addEventListener('DOMContentLoaded', function() {
		    // Sélectionner tous les boutons réinitialiser
		    document.querySelectorAll('.del-btn').forEach(btn => {
		        btn.addEventListener('click', function(e) {
		            e.preventDefault(); // empêcher le href="#"

		            const href = this.href;

		            Swal.fire({
		                title: 'Confirmation',
		                text: "Voulez-vous supprimer ?",
		                icon: 'warning',
		                showCancelButton: true,
		                confirmButtonText: 'Oui',
		                cancelButtonText: 'Non'
		            }).then((result) => {
		                if (result.isConfirmed) {
		                    // Redirection vers le controller
		                    window.location.href = href;
		                }
		            });
		        });
			
			// ==== AFFICHAGE DU MESSAGE SUCCÈS APRÈS ACTION ====
			    const successDiv = document.getElementById('successMessage');
			    if (successDiv && successDiv.textContent.trim() !== '') {
			        const msg = successDiv.textContent.trim();
			        Swal.fire({
			            icon: 'success',
			            title: 'Succès !',
			            text: msg,
			            confirmButtonText: 'OK'
			        });
			    }
			});
		});
		</script>
		
		
		<script th:inline="javascript">
		document.addEventListener("DOMContentLoaded", function () {

		    const input = document.getElementById("searchInput");
		    const tableBody = document.getElementById("utilisateurTableBody");
		    const loader = document.getElementById("loader");
			const paginationContainer = document.getElementById("pagination");

		    const contextPath = /*[[@{/}]]*/ "";

		    let timeout = null;
		    let currentPage = 0;
		    let currentKeyword = "";

		    // ===================== LOAD DATA =====================
		    function loadData(keyword, page = 0) {

		        console.log("LOAD PAGE =", page);

		        currentPage = page;        // ✅ IMPORTANT
		        currentKeyword = keyword;

		        loader.style.display = "block";

		        const url = contextPath + "utilisateurs/api/search"
		            + "?keyword=" + encodeURIComponent(keyword)
		            + "&page=" + page;

		        fetch(url)
		            .then(res => res.json())
		            .then(data => {

		                loader.style.display = "none";

		                console.log("DATA PAGE =", data.number);

		                tableBody.innerHTML = "";

		                if (!data.content || data.content.length === 0) {
		                    tableBody.innerHTML = `
		                        <tr>
		                            <td colspan="4" class="text-center">
		                                Aucun utilisateur trouvé.
		                            </td>
		                        </tr>`;
		                    paginationContainer.innerHTML = "";
		                    return;
		                }

		                // ===== TABLE =====
		                data.content.forEach(b => {
		                    tableBody.innerHTML += `
		                        <tr>
		                            <td>${b.matricule ?? ''}</td>
		                            <td>${b.username ?? ''}</td>
		                            <td>${b.nom ?? ''} ${b.prenoms ?? ''}</td>
									<td>
						                <span class="${b.enabled ? 'badge bg-success' : 'badge bg-danger'}">
						                    ${b.statut}
						                </span>
						            </td>
									
		                            <td>
		                                <div class="dropdown">
		                                    <button class="btn" data-bs-toggle="dropdown">
		                                        <i class="bi bi-three-dots-vertical"></i>
		                                    </button>
		                                    <ul class="dropdown-menu">
		                                        <li>
		                                            <a class="dropdown-item"
		                                               href="${contextPath}utilisateurs/edit/${b.id}">
		                                                <i class="bi bi-pencil me-2"></i>Modifier
		                                            </a>
		                                        </li>
												<li>
												    <a class="dropdown-item reinit-btn"
												       href="${contextPath}utilisateurs/reinitialise/${b.id}">
												        <i class="bi bi-arrow-counterclockwise me-2"></i>Réinitialiser
												    </a>
												</li>
												
												<li>
												    <a class="dropdown-item text-warning"
												       href="${contextPath}utilisateurs/desactiver/${b.id}">
												        <i class="bi bi-person-x me-2"></i>Désactiver
												    </a>
												</li>
												
												<li>
												    <a class="dropdown-item text-success"
												       href="${contextPath}utilisateurs/activer/${b.id}">
												        <i class="bi bi-person-check me-2"></i>Activer
												    </a>
												</li>																								
																								
		                                        <li>
		                                            <a class="dropdown-item del-btn"
		                                               href="${contextPath}utilisateurs/delete/${b.id}">
		                                                <i class="bi bi-trash me-2"></i>Supprimer
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </td>
		                        </tr>`;
		                });

		                attachDeleteEvents();
		                buildPagination(data);
		            })
		            .catch(err => {
		                loader.style.display = "none";
		                console.error("Erreur AJAX :", err);
		            });
		    }

		    // ===================== DELETE =====================
		    function attachDeleteEvents() {
		        document.querySelectorAll(".del-btn").forEach(btn => {
		            btn.onclick = function(e) {
		                e.preventDefault();
		                const href = this.href;

		                Swal.fire({
		                    title: 'Confirmation',
		                    text: "Voulez-vous supprimer cet utilisateur ?",
		                    icon: 'warning',
		                    showCancelButton: true,
		                    confirmButtonText: 'Oui',
		                    cancelButtonText: 'Non'
		                }).then(result => {
		                    if (result.isConfirmed) {
		                        window.location.href = href;
		                    }
		                });
		            };
		        });
		    }

		    // ===================== PAGINATION =====================
			function buildPagination(data) {

			    paginationContainer.innerHTML = "";

			    const totalPages = data.totalPages;
			    const page = data.number;

			    if (!totalPages || totalPages <= 1) return;

			    // ⬅ PREVIOUS
			    paginationContainer.innerHTML += `
			        <li class="page-item ${page === 0 ? 'disabled' : ''}">
			            <a class="page-link" href="#" data-page="${page - 1}">&laquo;</a>
			        </li>`;

			    let start = Math.max(0, page - 2);
			    let end = Math.min(totalPages - 1, page + 2);

			    for (let i = start; i <= end; i++) {
			        paginationContainer.innerHTML += `
			            <li class="page-item ${i === page ? 'active' : ''}">
			                <a class="page-link" href="#" data-page="${i}">
			                    ${i + 1}
			                </a>
			            </li>`;
			    }

			    // ➡ NEXT
			    paginationContainer.innerHTML += `
			        <li class="page-item ${page === totalPages - 1 ? 'disabled' : ''}">
			            <a class="page-link" href="#" data-page="${page + 1}">&raquo;</a>
			        </li>`;

			    // EVENTS
			    paginationContainer.querySelectorAll(".page-link").forEach(link => {
			        link.onclick = function(e) {
			            e.preventDefault();

			            const targetPage = parseInt(this.dataset.page);

			            if (!isNaN(targetPage) &&
			                targetPage >= 0 &&
			                targetPage < totalPages) {

			                loadData(currentKeyword, targetPage);
			            }
			        };
			    });
			}

		    // ===================== SEARCH =====================
		    input.addEventListener("input", function () {
		        clearTimeout(timeout);

		        timeout = setTimeout(() => {
		            loadData(input.value, 0);
		        }, 400);
		    });

		    // ===================== INIT =====================
		    loadData("", 0);

		});
		</script>
	
	</section>
</body>
</html>