<!-- ================= MENU UNIQUE ================= -->
<!-- fragments/menu.html -->
<ul class="nav flex-column" th:fragment="menu">

    <!-- Accueil -->
    <li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN','DIREC')">
        <a class="nav-link" th:href="@{/}">🏠 Accueil</a>
    </li>
	
	<!--<li class="nav-item" sec:authorize="hasRole('SUPER_ADMIN','ADMIN')">
	    <a class="nav-link" th:href="@{/}">🏠 Accueil</a>
	</li>-->

    <!-- Dashboard -->
    <li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN','DIREC')">
		
		<a class="nav-link d-flex justify-content-between align-items-center collapsed"
		   data-bs-toggle="collapse"
		   href="#dashboardMenu"
		   role="button">
		
		    <span>
		        <i class="bi bi-building"></i>
		        Tableau de bord
		    </span>
		
		    <span class="menu-arrow">▸</span>
		</a>
		
        <div class="collapse ps-3"
             th:classappend="${currentUri != null and currentUri.startsWith('/dashboards')} ? ' show' : ''"
             id="dashboardMenu">
            <ul class="nav flex-column">
                <li><a class="nav-link" th:href="@{/dashboards/loyers}">✔ Paiements</a></li>
                <li><a class="nav-link" th:href="@{/dashboards/loyers-montant}">💰 Montants</a></li>
            </ul>
        </div>
    </li>
		
    <!-- Banque -->
    <li class="nav-item" sec:authorize="hasRole('DIREC')">
        <a class="nav-link"
           th:href="@{/banques}"
           th:classappend="${currentUri != null and currentUri.startsWith('/banques')} ? ' active' : ''">
            🏛️ Banque
        </a>
    </li>

    <!-- Carnet -->
    <li class="nav-item" sec:authorize="!hasAnyRole('SUPER_ADMIN','ADMIN')">
        <a class="nav-link"
           th:href="@{/carnets}"
           th:classappend="${currentUri != null and currentUri.startsWith('/carnets')} ? ' active' : ''">
            🧾 Carnet
        </a>
    </li>

	
	<li class="nav-item"
	    sec:authorize="!hasAnyRole('SUPER_ADMIN','ADMIN')">

		<a class="nav-link d-flex justify-content-between align-items-center"
		   data-bs-toggle="collapse"
		   href="#recouvrementMenu"
		   role="button">

		    <span>
		        <i class="bi bi-cash-stack"></i>
		        Recouvrement
		    </span>

		    <span class="menu-arrow">▸</span>
		</a>

	    <div class="collapse ps-3"
	         id="recouvrementMenu"
	         th:classappend="${currentUri != null and currentUri.startsWith('/recouvrements')} ? ' show' : ''">

	        <ul class="nav flex-column">

	            <li>
	                <a class="nav-link"
	                   th:href="@{/recouvrements/a-encaisser}">
	                    🧾 À encaisser
	                </a>
	            </li>

	            <li sec:authorize="hasAnyRole('COMPTABLE','DIREC')">
	                <a class="nav-link"
	                   th:href="@{/recouvrements/encaissements}">
	                    💰 Encaissements
	                </a>
	            </li>

	        </ul>
	    </div>
	</li>


	
	
	<li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN')">
        <a class="nav-link"
           th:href="@{/encaissements}"
           th:classappend="${currentUri != null and currentUri.startsWith('/encaissements')} ? ' active' : ''">
            💰 Encaissement
        </a>
    </li>

    <!-- Bailleur -->
    <li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN','DIREC')">			
		
		<a class="nav-link d-flex justify-content-between align-items-center collapsed"
		   data-bs-toggle="collapse"
		   href="#bailleurMenu"
		   role="button">
		
		    <span>
		        <i class="bi bi-building"></i>
		        Bailleur
		    </span>
		
		    <span class="menu-arrow">▸</span>
		</a>
				
        <div class="collapse ps-3"
             th:classappend="${currentUri != null and currentUri.startsWith('/bailleurs') or currentUri != null and currentUri.startsWith('/patrimoines')} ? ' show' : ''"
             id="bailleurMenu">
            <ul class="nav flex-column">
                <li><a class="nav-link" th:href="@{/bailleurs}">Enrôlement</a></li>
                <li><a class="nav-link" th:href="@{/patrimoines}">Patrimoine</a></li>
            </ul>
        </div>
    </li>

    <!-- Locataire -->
    <li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN','DIREC')">			
		<a class="nav-link d-flex justify-content-between align-items-center collapsed"
		   data-bs-toggle="collapse"
		   href="#locataireMenu"
		   role="button">
		
		    <span>
		        <i class="bi bi-building"></i>
		        Locataire
		    </span>
		
		    <span class="menu-arrow">▸</span>
		</a>
		
        <div class="collapse ps-3"
             th:classappend="${currentUri != null and currentUri.startsWith('/locataires') or currentUri != null and currentUri.startsWith('/bails')} ? ' show' : ''"
             id="locataireMenu">
            <ul class="nav flex-column">
                <li><a class="nav-link" th:href="@{/locataires}">Enrôlement</a></li>
                <li><a class="nav-link" th:href="@{/bails}">Bail</a></li>
            </ul>
        </div>
    </li>

    <!-- SUPER_ADMIN -->
    <li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN')">
		<a class="nav-link d-flex justify-content-between align-items-center collapsed"
		   data-bs-toggle="collapse"
		   href="#adminMenu"
		   role="button">
		
		    <span>
		        <i class="bi bi-building"></i>
		        Administration
		    </span>
		
		    <span class="menu-arrow">▸</span>
		</a>
		
        <div class="collapse ps-3"
             th:classappend="${currentUri != null and currentUri.startsWith('/roles') or currentUri != null and currentUri.startsWith('/utilisateurs')} ? ' show' : ''"
             id="adminMenu">
            <ul class="nav flex-column">
                <li><a class="nav-link" th:href="@{/roles}">Rôle</a></li>
                <li><a class="nav-link" th:href="@{/utilisateurs}">Utilisateur</a></li>
            </ul>
        </div>
    </li>

    <!-- Référentiel -->
    <li class="nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN','DIREC')">		

		<a class="nav-link d-flex justify-content-between align-items-center collapsed"
		   data-bs-toggle="collapse"
		   href="#refMenu"
		   role="button">
		
		    <span>
		        <i class="bi bi-building"></i>
		        Référentiel
		    </span>
		
		    <span class="menu-arrow">▸</span>
		</a>
		
		
        <div class="collapse ps-3"
             th:classappend="${currentUri != null and currentUri.startsWith('/professions')} ? ' show' : ''"
             id="refMenu">
            <ul class="nav flex-column">
                <li><a class="nav-link" th:href="@{/professions}">Profession</a></li>
            </ul>
        </div>
    </li>
	
	<li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link"
           th:href="@{/agences}"
           th:classappend="${currentUri != null and currentUri.startsWith('/agences')} ? ' active' : ''">
            🏛️ Agence
        </a>
    </li>
	
</ul>

<script>
	document.addEventListener("DOMContentLoaded", () => {

	    document.querySelectorAll('.collapse').forEach(menu => {

	        const trigger =
	            document.querySelector(`a[href="#${menu.id}"]`);

	        if (!trigger) return;

	        const arrow =
	            trigger.querySelector('.menu-arrow');

	        if (!arrow) return;

	        const update = () => {
	            arrow.classList.toggle(
	                'rotate',
	                menu.classList.contains('show')
	            );
	        };

	        update();

	        menu.addEventListener('shown.bs.collapse', update);
	        menu.addEventListener('hidden.bs.collapse', update);
	    });

	});
</script>