<div th:fragment="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/bailleurs}">Bailleurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/locataires}">Locataires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/loyers}">Loyers</a>
        </li>
    </ul>
</div>